@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

@include load-fonts;

* {
    font-family: "AvenirNext";
    font-weight: 400;
    @include remove-padding-margin;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
h3 {
    @include remove-padding-margin;
}
h2 {
    @include remove-padding-margin;
}
h1 {
    @include remove-padding-margin;
}
p {
    @include remove-padding-margin;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-width: 300px;
    max-width: 100%;
    min-height: 100%;
}
main {
    min-height:100vh;
}
a {
    @include remove-padding-margin;
    text-decoration: none;
}
li {
    list-style: none;
    text-align: center;
}
.site-header {
    color: $White;
    background-color: $BandSite-Black;

    &__nav {
        @include mobile-sub-header;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0.5rem;

        &__wordmark {
            width: 8rem;
        }

        &__directory {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
    }

    @include tablet {
        &__nav {
            @include tablet-sub-header;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 4rem;
            margin: 0 36px;
            padding-top: 2rem;

            &__wordmark {
                width: 11rem;
                padding: 0;
                margin: 0;
            }

            &__directory {
                padding: 0;
                margin: 0;

                & > * {
                    padding:0;
                    width: auto;
                    padding-bottom: 2rem;
                }
            }
        }
    }
    @include desktop {
        &__nav {
            max-width: 1280px;
            margin: auto;
            padding: 0;
            padding-top: 2.5rem;

            &__wordmark {
                padding:0;
                width: 12rem;
            }

            &__directory {
                padding: 0;
                & > * {
                    padding-bottom: 2.5rem;
                }
            }
        }
    }
}

.site-footer {
    color: $White;
    background-color: $BandSite-Black;

    &__body {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: auto;
    }

    &__container {
        padding: 0;
        margin: 0;
    }

    &__header {
        @include mobile-section-header;
        padding: 0.5rem 0;
        min-width:21rem;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0;
        gap: 16px;
        min-width:fit-content;

        &__logo {
            width: 2rem;
            height: 2rem;
            padding: 0;
        }
    }

    &__bookings {
        //flex-wrapping this element future proofs for newer added booking agencies
        @include mobile-footer-copy;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        margin: 0;
        gap:16px;

        &__info {
            display:flex;
            flex-direction:column;
            gap:1rem;
        }

        &__contact {
            @include mobile-sub-header;
            font-weight: 600;
        }

        &__email {
            @include mobile-footer-copy;
            color: $White;
            padding-bottom: 0;
        }
    }

    &__wordmark {
        margin: 0;
        margin-top: 2.5rem;
        padding: 0;
        padding-bottom: 2rem;
        width: 8rem;
    }

    &__copyright {
        @include mobile-footer-copy;
        padding: 0;
        margin: 0;
    }

    @include tablet {

        &__body {
            padding: 36px;
        }
    
        &__container {
            display: flex;
            flex-direction: row;
            gap: 24px;
            position: relative;
            margin: 0;
            padding: 0;
        }
        
        &__header {
            @include tablet-section-header;
        }

        &__nav {
            gap: 24px;

            &__logo {
                width: 2rem;
                height: 2rem;
            }
        }
    
        &__bookings {
            @include tablet-footer-copy;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 32px;
            margin: 0;
            padding: 16px 0;
    
            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                padding: 1rem 0;
            }
        }
    
        &__wordmark {
            position: absolute;
            right: 5%;
            width: 10rem;
            margin: 0.7rem;
            padding: 0;
        }
        &__copyright {
            @include tablet-footer-copy;
            padding: 0;
            margin: 0;
        }
        
    }
    
    @include desktop {

        &__body {
            max-width: 1280px;
            margin:auto;
        }

        &__container {
            gap: 5.5rem;
            padding-left: 0;
            margin: 0;
        }
        
        &__nav {
            gap: 24px;
        }

        &__bookings {
            gap: 6rem;
            padding-left: 0;
            margin: 0;
        }

        &__copyright {
            padding: 0;
            margin: 0;
        }

        &__wordmark {
            position: relative;
            left: 1100px;
            top: -205px
        }
        
    }
}
