@use "./_variables.scss" as *;
@use "./_mixins.scss" as *;

@include load-fonts;

* {
    font-family: 'Anybody';
    font-weight: 400;
    @include remove-padding-margin;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;
}
h3 {
    @include remove-padding-margin;
}
h2 {
    @include remove-padding-margin;
}
h1 {
    @include remove-padding-margin;
}
p {
    @include remove-padding-margin;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-width: 300px;
    max-width: 100%;
    min-height: 100%;
}
main {
    min-height:100vh;
    background:url(../../assets/images/Subtle-Dots-White-Tileable-pattern.jpg) repeat;
    color:$BandSite-Black;
}
a {
    @include remove-padding-margin;
    text-decoration: none;
    width:fit-content;
    height:fit-content;
}
li {
    list-style: none;
}

.fa-bars {
    margin-left:auto;
    font-size:2rem;
}

.site-header {
    color: $White;
    background-color: $BandSite-Black;
    position:fixed;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    padding:0 4rem;

    &__name {
        text-decoration:none;
    }
    &__nav {
        @include mobile-sub-header;
        color:darkblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:auto;

        &__directory {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:2rem;
            padding:0;
            margin:0.5rem 0;
            //width: 100%;
        }
    }

    @include tablet {
        &__nav {
            @include tablet-sub-header;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 4rem;
            margin: 0 36px;
            padding-top: 2rem;

            &__wordmark {
                width: 11rem;
                padding: 0;
                margin: 0;
            }

            &__directory {
                padding: 0;
                margin: 0;

                & > * {
                    padding:0;
                    width: auto;
                    padding-bottom: 2rem;
                }
            }
        }
    }
    @include desktop {
        &__nav {
            max-width: 1280px;
            margin: auto;
            padding: 0;
            padding-top: 2.5rem;

            &__wordmark {
                padding:0;
                width: 12rem;
            }

            &__directory {
                padding: 0;
                & > * {
                    padding-bottom: 2.5rem;
                }
            }
        }
    }
}

.site-footer {
    color: $White;
    background-color: $BandSite-Black;

    &__header {
        @include mobile-sub-header;
        text-align:center;
        margin:0;
    }
}
