//colors
$BandSite-Black: #323232;
$Silver: #afafaf;
$White: #ffffff;
$BandSite-DarkBlack: #000000;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
$Invalid: #D22D2D;

//viewport sizing
$mobile-min: 320px;
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$desktop-max: 1920px;